#header {
  text-align: center;
  font-family: lobster;
  font-size: 60px;
}

#completed-tasks {
  text-decoration: line-through;
}

#completed h3, #to-do h3 {
  font-family: lobster;
  font-size: 40px;
  text-decoration: underline;
}

#placeholder-todo {
  font-family: fjalla one, helvetica;
  margin-top: 40px;
}

#placeholder-complete {
  font-family: fjalla one, helvetica;  
}

.task, .completed-task {
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  display: flex;
  justify-content: space-between;
}

.action-button {
  vertical-align: middle;
  margin-left: 15px;
  border: solid 3px black;
}

.yellow-border {
  border: solid 5px #e6e600;
  background-color: #ffff84;
}

.orange-border {
  border: solid 5px #ff6600;
  background-color: #ffb889;
}

.red-border {
  border: solid 5px #e62e00;
  background-color: #ff7f7f;
}

body {
  background-color: skyblue;
}

select:invalid {
  color: #999;
}

option {
  color: black;
}
