#header {
  text-align: center;
  font-family: lobster;
  font-size: 60px;
}

#completed-tasks {
  text-decoration: line-through;
}

.task, .completed-task {
  line-height: 30px;
  height: 75px;
}

.action-button {
  height: 30px;
  vertical-align: middle;
  float: right;
}

.yellow-border {
  border: solid 5px #e6e600;
}

.orange-border {
  border: solid 5px #ff6600;
}

.red-border {
  border: solid 5px #e62e00;
}

body {
  background-color: skyblue;
}

select:invalid {
  color: #999;
}

option {
  color: black;
}

h3 {
  font-family: lobster;
  font-size: 40px;
  text-decoration: underline;
}

h4 {
  font-family: lobster;
  font-size: 22px;
}
