#header {
  text-align: center;
}

#to-do {

}

#completed {

}

.task, .completed-task {
  line-height: 30px;
  height: 75px;
}

.mark-complete, .delete-item {
  height: 30px;
  vertical-align: middle;
  float: right;
}

.yellow-border {
  border: solid 5px #e6e600;
}

.orange-border {
  border: solid 5px #ff6600;
}

.red-border {
  border: solid 5px #e62e00;
}

body {
  background-color: skyblue;
}

select:invalid {
  color: #999;
}

option {
  color: black;
}
